version: '3.8'

services:
  auth-service:
    build: .
    container_name: auth-service
    ports:
      - "8001:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@auth-db:5432/auth_db
      - ASYNC_DATABASE_URL=postgresql+asyncpg://user:password@auth-db:5432/auth_db
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9093
    depends_on:
      - auth-db
    networks:
      - microservices
    volumes:
      - .:/app
    restart: unless-stopped

  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    networks:
      - microservices
    restart: unless-stopped

volumes:
  auth-db-data:

networks:
  microservices:
    external: true
